LoginService/App_WebReferences/retriveemp/EmployeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RetriveEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetriveEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetriveEmployeeResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetriveEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:RetriveEmployee" />
  </wsdl:message>
  <wsdl:message name="RetriveEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:RetriveEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeServiceSoap">
    <wsdl:operation name="RetriveEmployee">
      <wsdl:input message="tns:RetriveEmployeeSoapIn" />
      <wsdl:output message="tns:RetriveEmployeeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeServiceSoap" type="tns:EmployeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetriveEmployee">
      <soap:operation soapAction="http://tempuri.org/RetriveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeServiceSoap12" type="tns:EmployeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetriveEmployee">
      <soap12:operation soapAction="http://tempuri.org/RetriveEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeService">
    <wsdl:port name="EmployeServiceSoap" binding="tns:EmployeServiceSoap">
      <soap:address location="http://170.225.97.68/aspnet_client/LoginService/EmployeService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeServiceSoap12" binding="tns:EmployeServiceSoap12">
      <soap12:address location="http://170.225.97.68/aspnet_client/LoginService/EmployeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>